.giro {
              margin:50px;
              width: 100px;
              height: 100px;
              background-color: green;
              border: 1px solid black;
              transform: rotate(45deg);

}