 body {
                background-color: grey;
            }
            p {
                text-shadow: 2px 2px 4px green;
                font-size: 50px;
                color: white
            }